@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    max-width: 320px;
    margin-inline: auto;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--color-pomb-and-power);
}